html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0px;
  font-size: 90%;

  
}

#dolar-container{
  display: flex;
  justify-content: center;
  align-items: center;
 

}

.container {
  text-align: center;
  padding: 10px 20px;
}

#monthlyPayment,
#totalPayment {
  font-weight: bold;
}

.nav-mode ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* dark mode */
body {
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #1b0737;
  color: white;
}

.btn {
  color: white;
  background-color: rgb(47, 152, 193);
}

.btn-group {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
  flex-wrap: wrap;
}

.form-group {
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  margin-top: 15px;
}

/* carrito */
#carritoContainer {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px 0px;
}

#carritoContainer div {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.mensaje {
  margin-top: 20px;
  padding: 10px;
  display: none;
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
  border-radius: .25rem;
  border: 1px solid transparent;
}
