body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .container {
    text-align: center;
    max-width: 400px;
  }

  #monthlyPayment,
  #totalPayment {
    font-weight: bold;
  }

  .nav-mode ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  /* dark mode */
  body {
    transition: background-color 0.3s, color 0.3s;
  }
  
  body.dark-mode {
    background-color: #1b0737;
    color: white;
  }

  .btn {
    color: white;
    background-color: rgb(47, 152, 193);
  }

  .btn-group {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
    flex-wrap: wrap;
}

.form-group{
  margin-top: 20px;
  margin-bottom: 20px;
 
}

h2{
  margin-top: 15px;
}
  